*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.29);
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}

.link i{
    transition: 0.2s ease-in-out;
}

.link:hover i{
    transform: scale(1.2);
}

.link-1{
    color: rgb(100, 247, 198);
}

.link-2{
    color: rgb(255, 206, 99);
}

.link-3{
    color: rgb(255, 127, 168);
}

.link::before{
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 30px;
    position: absolute;
    left: -100px;
    top: 100%;
}

.link-1::before{
    background-color: rgb(255, 0, 200);
}

.link-2::before{
    background-color: rgb(0, 255, 242);
}

.link-3::before{
    background-color: rgb(255, 183, 0);
}

.link:hover::before{
    animation: desloca .5s;
    left: 0px;
    top: 0%;
}

@keyframes desloca{
    0%{
        left: -100px;
        top: 100%;
    }
    50%{
        left: 15px;
        top: -25%;
    }
    100%{
        left: 0px;
        top: 0%;
    }
}